body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.pad {
    flex: 1;
}

.header, .greeting-field, .info-field, .quote-field {
    display: flex;
}

.header, .greeting-field {
    background-color: #1F2937;
}

/* header */
.header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 5;
}


.logo, a, h2, button {
    color: #f9FAF8;
}

.logo {
    font-size: 24px;
}

ul {
    list-style: none;
    color: #F9FaF8;
    display: flex;
    flex: 1;
    gap: 20px;
}

a {
    text-decoration: none;
}

/* greeting */
.hero {
    display: flex;
    gap: 20px;
    flex: 5;
}

h2 {
    font-size: 48px;
    font-weight: 1000px;
    margin: 0;
}

.main-text > p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #3882F6;
    border: 0;
    padding: 5px 20px;
    border-radius: 8px;
}

/* information */
.cases img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.overview {
    font-size: 36px;
    font-weight: 1000px;
    color: #1F2937;
    text-align: center;
}

.cases {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.cases p {
    text-align: center;
    width: 150px;
}

.info {
    flex: 5;
}

.quote-field {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
.quote-with-author {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}