body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    
}

.header.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 5;
}


.logo, a {
    color: #f9FAF8;
}

.logo {
    color: #F9FaF8;
    font-size: 24px;
}

ul {
    list-style: none;
    color: #F9FaF8;
    display: flex;
    flex: 1;
    gap: 20px;
}

a {
    text-decoration: none;
}

.pad {
    flex: 1;
}
